LAB2_2.json
{
  "name": "LAB2-2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "users",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0eebecfd-9940-45ab-af5b-d5be1a69eda5",
      "name": "Webhook",
      "webhookId": "39461d5a-7b4a-4103-920e-72348647b103"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fbff00-19b2-4832-85da-d12aed380fc7",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "8b0aa31b-e6b8-4c25-b9ef-436704c676d5",
              "name": "age",
              "value": "={{ $json.body.age }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "f8dc3ff5-57e1-4ae2-ac7c-68c9f21209d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "n8n-project-68-a4dfb",
        "collection": "users",
        "columns": "name,age"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "11354611-4127-426c-9ed0-4265afc0ded3",
      "name": "Google Cloud Firestore",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "HmxkuFTPvOnjisbl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9bd3fd60-981d-4f4a-a515-0263249b9c7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef8f42b00f47a3c8ab6dcacc59628c9086d323c7f9f6c31de31a08bc775b8bc3"
  },
  "id": "97pwMM4exPTRSeRY",
  "tags": []
}